<div class="review">
  <%= image_tag review.image %>
  <div class="review-info">
    <p>Rating: <%= review.rating %></p>
    <p><strong><%= review.title %></strong></p>
    <p><%= review.content %></p>
  </div>
</div>
