<p>Name: <%= application.user.name %></p>
<p>Address: <%= "#{application.user.street_address}, #{application.user.city}, #{application.user.state} #{application.user.zip}" %></p>
<p>Description: <%= application.description %></p>
<p>Pets:</p>
<ul>
<% application.pets.each do |pet| %>
  <li><%= link_to pet.name, "/pets/#{pet.id}" %></li>
<% end %>
</ul>
