body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  width: 750px;
  background-color: #F4F5F6;
  color: #393E41;
  border-radius: 20px;
  padding: 1rem;
  margin: auto;
  box-shadow:
     0 2.8px 2.2px rgba(0, 0, 0, 0.034),
     0 6.7px 5.3px rgba(0, 0, 0, 0.048),
     0 12.5px 10px rgba(0, 0, 0, 0.06);
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #3F88C5;

  &.Delete {
    color: #E94F37;
  }

  &.Update {
    color: #44BBA4;
  }

  &.Create {
    color: #44BBA4;
  }

  &:hover {
    color: #fff;
    background-color: #3F88C5;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

label {
  display: block;
}

form {
  width: 50%;
  background-color: #D2EFE9;
  border-radius: 20px;
  padding: 1rem;
  box-shadow:
     0 2.8px 2.2px rgba(0, 0, 0, 0.034),
     0 6.7px 5.3px rgba(0, 0, 0, 0.048),
     0 12.5px 10px rgba(0, 0, 0, 0.06);
}

header {
  background-color: #D2EFE9;
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  align-items: center;
  box-shadow:
     0 2.8px 2.2px rgba(0, 0, 0, 0.034),
     0 6.7px 5.3px rgba(0, 0, 0, 0.048),
     0 12.5px 10px rgba(0, 0, 0, 0.06);
}

header a {
  margin-left: 2rem;
  color: #FFF;
  background-color: #393E41;
  padding: 1rem;
  border-radius: 10px;
  font-size: 1.25rem;
  box-shadow:
     0 2.8px 2.2px rgba(0, 0, 0, 0.034),
     0 6.7px 5.3px rgba(0, 0, 0, 0.048),
     0 12.5px 10px rgba(0, 0, 0, 0.06);
}

header h1 a {
  all: initial;
}

header h1 a:hover {
  all: initial;
}

img {
  border-radius: 20px;
}

.button_to {
  all: initial;
}
